html {
  font-size: 62.5%;
  /* font-family: "Poppins", sans-serif; */
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
:root {
  --header-text-color: #d2b48c;
  --header-btn-background-color: #d9afd9;
  --background-hover-color: #ccc;
  --title-color: #2c3e50;
}
* {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
video {
  width: 100%;
}
/*  End RESET */
/* __________________________________________________________________ */
hr {
  width: 90%;
  margin: 20px auto;
}
.topic {
  font-size: 5rem !important;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 0px 16px;
}
.topic2 {
  font-size: 2rem;
  padding: 30px 20px;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
.desc {
  font-size: 1.8rem;
  color: white;
  text-align: justify;
  padding: 0 20px 50px;
}
.title {
  text-transform: uppercase !important;
  font-size: 6rem;
  padding: 20px 0;
  color: var(--title-color);
  text-align: center;
}
#header {
  /* background-color: var(--header-btn-background-color); */
  background-image: linear-gradient(0deg, #d9afd900 0%, #00464b 100%);

  height: 7rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9000;
}
.header__nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav .header__option ul {
  display: flex;
}
.header__nav > ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav ul li {
  height: 100%;
  transition: 0.5s;
  border: 2px solid rgba(204, 204, 204, 0);
  border-radius: 1rem;
}
.header__option ul li {
  height: 7rem;
}
.header__nav ul > li > a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  color: var(--header-text-color);
  /* background: -webkit-linear-gradient(45deg, #cb00fd, #8d7c77, #02a2ff); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}
.pc__nav-btn:hover > a {
  cursor: pointer;
  /* background: -webkit-linear-gradient(45deg, #02a2ff, #8d7c77, #cb00fd); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  border-bottom: 2px solid #02a2ff;
}
.header__nav ul:nth-child(2) {
  position: relative;
}
.pc__nav--lv2 {
  display: none;
  /* display: flex; */
  background: #02a2ff6e;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
}
.pc__nav-btn .pc__nav--lv2 li {
  height: 4rem;
}
.pc__nav-btn .pc__nav--lv2 li:hover a {
  color: red;
}
.header__nav > ul > li:hover ul {
  display: flex;
}
#header .header__nav img {
  height: 5rem;
}
#banner {
  position: relative;
}
.banner__body {
  margin: 0 auto;
  /* width: 90%; */
}
#banner img {
  width: 100%;
  display: block;
}
#banner .banner__title {
  position: absolute;
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about__layout .about__img {
  width: 100%;
}
.about__layout {
}
.about__layout .about__title img {
  display: block;
  width: 30%;
  margin: 0 auto;
  filter: grayscale(50%);
}

.about__layout .about__title {
  background: url(../background/blurred1.jpg) no-repeat center / cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  position: relative;
  /* height: 100vh; */
}
.about__layout .about__title .about__heading {
  color: white;
  display: block;
  font-size: 4rem;
  margin: 20px 0;
}
.about__layout .about__title .about__details {
  color: white;

  margin-bottom: 20px;
  width: 100%;
  font-size: 2.5rem;
  font-weight: 300;
  width: 90%;
}

.about__layout .about__title button {
  margin: 30px;
  padding: 10px 16px;
  border: 2px solid purple;
  border-radius: 1rem;
  text-transform: uppercase;
  background-color: #cfa85b;
}
.about__layout .about__title button:hover {
  background-color: #cfa85b;
}
.about__video {
  position: relative;
  background-color: #09121b;
}
.about__video video {
  width: 100%;
}
.about__video-details {
  text-align: center;
  color: white;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
}
.about__video-details h1 {
  font-size: 6rem;
}
map__tutoria .about__video-details h3 {
  font-size: 1.4rem;
  font-weight: 400;
  width: fit-content;
}
.tutorial {
  position: relative;
  height: 385vh;
  background-color: #09121b;
}
.tutorial .map__tutorial {
  position: sticky;
  top: 0;
  width: 80%;
  margin-left: auto;
  height: 100vh;
  overflow: hidden;
}
.tutorial .map__tutorial img {
  position: absolute;
  top: -30px;
  left: -150px;
  width: 130%;
}
.tutorial .tutorial__left--section {
  position: relative;
  top: -80vh;
  z-index: 2;
  width: 50rem;
  padding: 0 26px;
  margin-left: 5%;
  margin-right: auto;
  text-align: justify;
}
.desc__details {
  border: 1px solid rgb(77, 77, 77);
  margin: 30px 0;
}
.section {
  padding: 150px 0;
}
.champion__section {
  background-color: #fff;
}
.section--topic--layout {
  width: 70%;
  margin: 0 auto;
  padding: 100px 0;
}
.champion__section--topic :is(h2, p) {
  color: #2c3e50;
  text-align: center;
}
.schematic {
  display: flex;
}
.video__tutorial {
  width: 60%;
}
.content__tutorial {
  flex: 1;
  padding: 0 30px;
}
.content__tutorial .h3 {
  display: block;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: 30px 50px;
  border-bottom: 1px solid #000;
}
.content__tutorial .h3 p {
  color: #000;
  text-transform: none;
  text-align: left;
  padding: 10px 0;
}
.skill__section {
  background-color: #fff;
}
.skill__section .section__header {
  width: 70%;
  margin: 0 auto;
}
.skill__section .section__header .desc {
  color: #000;
}
#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #101215;
}
#footer .footer__logo {
  padding: 50px 0;
}
#footer .contact {
  width: 60%;
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
  padding-bottom: 50px;
}
#footer .fanpage ul li {
  float: left;
  padding: 20px;
  color: #fff;
}
#footer .fanpage ul li a {
  color: #fff;
}
#footer .button {
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .button button {
  height: 5rem;
  margin: 0 20px;
  text-align: center;
  width: 25rem;
  background-color: #0bc6e3;
  border: none;
  color: #fff;
  text-transform: uppercase;
}
#footer .button button:hover {
  cursor: pointer;
}
